/*Legend styling*/
.legendouter {
  stroke: #000;	  
  stroke-width: 0.8;
  stroke-opacity: 1;
  fill: #fff;
}
.legend rect, .legend ellipse { 
  stroke: #000;	  
  stroke-width: 0.4;
  stroke-opacity: 1;
}
.legend text { 
    fill: #000;
    font-size: smaller; 
}
.legend text.left { text-anchor: start; }
.legend text.right { text-anchor: end; }