/*Styling for the tooltip*/
#extTip, .d3-tip{
  line-height: 1;
  padding: 10px;
  font-size: smaller;
  text-align: left;
}

.d3-tip {
  position: absolute;	
  background: rgba(255, 255, 255, 0.9);
  color: #252525;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(37, 37, 37, 0.9);
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip.c.q1:before, .d3-tip.c.q4:before{
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.4);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(37, 37, 37, 0.9);
  -webkit-text-fill-color: white;
  content: "\25C0";
  text-align: left;
  position: absolute;
  left: -8px;
  top: 50%;
}

.d3-tip.c.q2:before, .d3-tip.c.q3:before{
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.4);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(37, 37, 37, 0.9);
  -webkit-text-fill-color: white;
  content: "\25B6";
  text-align: right;
  position: absolute;
  left: 8px;
  top: 50%;
}